<div class="hello_element">
  <p>Welcome to ES6</p>
</div>

<form class="" action="" method="post">
  <input type="hidden" name="hello_input" id="hello" value="es5" />
  <p>Form-so-fancy</p>
  <input type="date" name="hello" id="hello" value="" />
</form>

<%= link_to('Add Post', new_post_path, modal: 'modal-post', rel: "nofollow") %>
